@page {
    size: A4;
    margin: 0;
    padding: 0;
    border: 0;

    margin: 5mm;
    background: #c5c576;
    // margin-top: auto;
    // margin-bottom: auto;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    // width: 100%;
    // height: 100%;
    width: 100vw;
    height: 100vh;
}

/* section {
    display: flex;
    flex-direction: row-reverse;
} */
div.hidden {
    display: none;
}

body {
    // width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: 0;

    border-top: solid 5px MidnightBlue;
    border-bottom: solid 5px MidnightBlue;

    background: #f5f7fa;
    background: #c5c576;
    /* color: #52575c; */
    color: #45818e;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.1em;
    font-size: 11pt;
    /* font-size: 22px; */

    /* font-size: 100%;
    font: inherit;
    vertical-align: baseline; */
    /* -webkit-text-size-adjust: none; */
}
strong {
    font-weight: 600;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* user agent stylesheet */

div:nth-of-type(even) {
    border: 2px solid orange;
}
  
h1, h2, h3, h4, h5, h6 {
    display: flex;
    justify-content: space-between;
    color: MidnightBlue;
    span {
        font-size: 1rem;
        color: #45818e;
        width: 100%;
    }
}

h1 {
    page-break-after: avoid;
    font-size: 1.7rem;
    color: MidnightBlue;

    padding: 0;
    margin: 0;
    border: 0;

    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

h3 {
    padding: 0;
    margin: 0;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    border: 0;

    border-top: solid thin black;
}

code {
    display: flex;
    justify-content: flex-end;
}

p,div,span,section {
    padding: 0;
    margin: 0;
    border: 0;
}

// h2::after {
//     content: ' xyz (' attr(href) ')';
//     display: block;
//     border-bottom: 1px solid #45818e;
//     color: red;
//     background-color: purple;
//     margin-top: 0.5em;
//     margin-bottom: 0.5em;
// }

div.work-history {
    table {
        page-break-inside: avoid;
        border-collapse: collapse;
        width: 100%;
    }
}

col {
    font-size: 0.7rem;
}

table, th, td {
    border: 1px solid DimGray;
}

th, td {
    text-align: left;
    padding: 1em;
}

/* div {
    display: block;
    unicode-bidi: isolate;
} */
/* .sk-sample-resume-container {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 10px #ccc;
    font-family: "Graphik", sans-serif;
    letter-spacing: -0.2px;
    width: 100%;
    border-top: 4px solid #45818e;
    border-left: 4px solid transparent;
    margin: 0 auto;
    margin-bottom: 50px;
} */
