$backdropColor: #52575c;
$backdropColor: #dce5ed;

$color1: MidnightBlue;
$color2: #056277;
$color3: #767d85;

$paperColor: #f5f7fa;

$bodyBgColor: $paperColor;
$bodyTextColor: $color2;


$decorTopLineColor: $color1;
$defaultHeadingColor: $color1;
$titleHeaderSpanColor: $color2;
$roleTechColor: $color3;

$contactInfoTextColor: $color3;
$contactInfoSeparator: $color1;

$dividerColor: lighten($color3, 35%);

$linkColor: $color3;
$linkVisitedColor: $color2;
$linkColor: darken($color3, 15%);
$linkVisitedColor: lighten($color2, 15%);

// #e0e0e0 #f5f7fa
$devColor1: purple;
$devColor2: orange;
$devColor3: yellow;
$tableLineDividerColor: lighten($color3, 45%);

$boldWeight: 600;


// #####################################################################
// ## Baseline Typesetting #############################################
@mixin font_style_for_content {
    font-family: 'Source Sans Pro', sans-serif;
    color: $color2;
    font-weight: 300;
    line-height: 1.1em;
    font-size: 11pt;
}
@mixin font_style_for_heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    line-height: 1em;
    color: $color1;
}
@mixin font_style_for_code {
    font-family: monospace;
    font-size: 0.7rem;
    color: $color3;
}
@mixin font_style_for_sub_heading {
    font-family: monospace;
    color: $color3;
    font-style: normal;
    font-weight: 300;
    font-size: 0.7rem;
    padding-top: 0.2rem;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    unicode-bidi: isolate;
}
body {
    // width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    border: 0;

    border-top: solid 5px $decorTopLineColor;
    border-bottom: solid 5px $decorTopLineColor;

    background: $bodyBgColor;
    color: $bodyTextColor;

    @include font_style_for_content();
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    border: 0;

    display: flex;
    justify-content: space-between;
    color: $defaultHeadingColor;
}
h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
}

p,div,span,section {
    padding: 0;
    margin: 0;
    border: 0;
}
code {
    @include font_style_for_code();
}
a {
    color: $linkColor;
    // &:visited: $linkVisitedColor;
    &:visited {
        color: $linkVisitedColor;
    }
    
}

strong {
    font-weight: $boldWeight;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin ul_bullet_style_of_fire {
    // emoji code not translating in pdf ;( maybe font-lib fixable
    list-style-type: "\1F525";
    li {
        mix-blend-mode: luminosity;
        &::marker {
            font-size: 0.5rem;
        }
    }
}
@mixin ul_bullet_style_of_D {
    list-style-type: "\00204d";
    list-style-position: outside;
    // list-style-type: "⤮";
    padding-left: 0.5rem;
    li {
        padding-left: 0.5rem;
        &::marker {
            font-size: 0.81rem;
            // padding-right: 1.5rem;
            // margin-right: 1.5rem;
        }
        &::before {
            content: '\2009';
        }
    }
}

ul {
    margin-bottom: 0.4rem;
    line-height: 1.25rem;

    @include ul_bullet_style_of_D();
}


@page {
    size: A4;
    margin: 0;
    padding: 0;
    border: 0;

    margin: 5mm;
    background: $paperColor;
    // margin-top: auto;
    // margin-bottom: auto;
}
body {
    padding-bottom: 2rem;
}

@media screen {
    // Create an A4-sized container that looks like a page
    html {
        display: flex;
        justify-content: center;
        background: $backdropColor;
        margin-top: 2rem;
    }
    body {
        width: 210mm;  // A4 width
        min-height: 297mm; // A4 height
        min-height: max-content; // A4 height
        padding: 20mm;
        background: $paperColor;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
}

// user agent stylesheet

// #####################################################################
// ## Page Title - Name - Career #######################################
h1 { // Doc Title, Name, Skill Title
    page-break-after: avoid;
    font-size: 1.7rem;
    @include font_style_for_heading();

    margin-top: 0.6rem;
    margin-bottom: 0.6rem;

    width: 100%;

    span {
        @include font_style_for_heading();
        // font-size: 1.3rem;
        // font-weight: 400;
        // color: $titleHeaderSpanColor;
    }
}


// #####################################################################
// ## Contact Header ###################################################
@mixin hgroup_contact_info_decorators {
    ul {
        &:before {
            content: '[';
        }
        &:after {
            content: ']';
        }
        li:first-child {
            border-left: none;
        }
        li:last-child {
            border-right: none;
        }
        li:before {
            display: none;
        }
    }
}

@mixin hgroup_contact_info_fonts {
    ul {
        li {
            font-size: 0.8rem;
            font-weight: 300;
        }
        font-size: 1.3rem;
        font-weight: 400;

        li {
            font-family: monospace;
            color: $contactInfoTextColor;
        }
    }
}

hgroup {
    margin: 0;
    padding: 0;
    border: 0;

    margin-bottom: 1rem;

    ul {
        list-style-type: none;
        list-style: none;
        padding-left: 0;

        margin: 0.2rem;

        display: inline-flex;
        flex-wrap: nowrap;
        width: 100%;
        
        li {
            border: none;
            
            border-left: solid thin $contactInfoSeparator;
            border-right: solid thin $contactInfoSeparator;

            border-radius: 0;
            margin: 0;
            padding: 0;

            flex: content;
            text-align: center;
            padding: 0.1rem;

        }
    }
    @include hgroup_contact_info_decorators();
    @include hgroup_contact_info_fonts();
}

// #####################################################################
// ## Section Title (EG: Career and Experience) ########################
// h2 { // Section Title
//     margin-top: 0.6rem;
//     margin-bottom: 0.6rem;
// }

// #####################################################################
// ## Recent Role Title ################################################
h3 { // Experience Title
    margin-top: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;

    border-top: solid thin $dividerColor;
    border-radius: 0.1rem;

    @include font_style_for_heading();

    em {
        position: absolute;
        margin-top: 1rem;
        @include font_style_for_sub_heading();
    }

    span {
        font-size: 0.8rem;
        font-weight: 300;
        color: $defaultHeadingColor;
    }
}
p {
    margin-bottom: 0.7rem;
}
h3 + p > code {
    &::before {
        content: " ";
        min-width: 30%;
    }
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.9rem;
    text-align: right;
    overflow-wrap: normal;
}


// #####################################################################
// ## Full History Table ###############################################
$cellWidth: 1.5rem;
$cellPad: 0.4rem;
div.work-history {
    h2 {
        page-break-before: avoid;
        page-break-after: avoid;
    }
    table {
        page-break-before: avoid;
        page-break-inside: auto;

        border-collapse: collapse;
        width: 100%;
    }
    tr {
        page-break-inside: avoid;
        border-top: 1px solid $tableLineDividerColor;
        border-bottom: none;
    }
    thead {
        display:none;
    }
    thead,tbody tr {
        td {
            padding: 0;
            font-size: 0.8rem;
            text-align: left;
        }
        td:first-child,td:last-child {
            max-width: $cellWidth;
            width: $cellWidth;
            min-width: $cellWidth;
            width: fit-content;

            padding: $cellPad;

            vertical-align: top;
            font-family: monospace;
            font-size: 0.8em;
            font-weight: 100;
            
            color: $color3;
        }
        td:last-child {
            max-width: $cellWidth * 1.5;
            width: $cellWidth * 1.5;
            min-width: $cellWidth * 1.5;
            text-align: right;
        }
    }
}

div.projects {
    padding-top: 0.2rem;
    // p {
    //     width: 50%;
    //     display: inline-flex;
    //     border: solid thin red;
    //     font-weight: 700;
    //     height: 10rem;
    // }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: 0;
    }

    &> ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &> li {
            cursor: pointer;
            text-align: left;
            margin: 0.2rem;
            // top: 0;
            border-collapse: collapse;
            border: solid 2px $color3;
            border-radius: 0.4rem;
            display: block;
            width: 47%;
        }
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }
    thead,tbody tr {
        
        td {
            border: solid thick black;
            width: 50%;
            height: 5rem;
            text-align: center;
        }
        th {
            display: none;
        }
        th:first-child, td:first-child {
            vertical-align: top;
            // max-width: 5rem;
            max-width: fit-content;
            font-family: monospace;
            font-size: 0.8em;
            font-weight: 100;            
        }
        th:last-child, td:last-child {
            vertical-align: top;
            max-width: 100%;
            // font-family: monospace;
            // font-size: 0.8em;
            // font-weight: 100;
        }
    }
    table, th, td {
        border: 1px solid $tableLineDividerColor;
    }
}


// #####################################################################
// ## MISC #############################################################
h4 { // Experience Title
    margin-top: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;

    // border-top: solid thin $dividerColor;
    border-radius: 0.1rem;

    @include font_style_for_heading();

    em {
        position: absolute;
        margin-top: 1rem;
        @include font_style_for_sub_heading();
    }

    span {
        font-size: 0.8rem;
        font-weight: 300;
        color: $defaultHeadingColor;
    }
}

// #####################################################################
// ## MISC #############################################################
// #####################################################################

// section {
//     display: flex;
//     flex-direction: row-reverse;
// }

// div.hidden {
//     display: none;
// }

